---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME, SOCIALS } from "@consts";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const projects: CollectionEntry<"projects">[] = (
  await getCollection("projects")
)
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h1 class="animate font-semibold text-black dark:text-white">
      Olá, mundo! 👋
    </h1>
    <div class="space-y-16">
      <section>
        <article class="space-y-4 text-justify">
          <span class="animate">
            <p class="font-medium">
              O meu nome é Lucas Mota, sou um Desenvolvedor Full Stack, trabalho
              com um conjunto robusto de tecnologias, incluindo:
              <span class="text-yellow-400">JavaScript</span>, <span
                class="text-blue-500">TypeScript</span
              >, <span class="text-lime-500">Node</span>, <span
                class="text-sky-400">React</span
              >, <span class="text-cyan-600">PostgreSQL</span> e <span
                class="text-emerald-500">MongoDB</span
              >. Tenho paixão por criar soluções eficientes e inovadoras, sempre
              buscando aprimorar minhas habilidades e acompanhar as tendências
              do mercado de desenvolvimento web.
            </p>
          </span>
          <span class="animate">
            <p class="font-medium">Obrigado por visitar meu blog!</p>
          </span>
        </article>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap items-center justify-between gap-y-2">
          <h2 class="font-semibold text-black dark:text-white">
            Posts Recentes
          </h2>
          <Link href="/blog"> Ver todos os posts </Link>
        </div>
        <ul class="not-prose flex flex-col gap-4">
          {
            blog.map((post) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap items-center justify-between gap-y-2">
          <h2 class="font-semibold text-black dark:text-white">
            Projetos Recentes
          </h2>
          <Link href="/projects"> Ver todos os projetos </Link>
        </div>
        <ul class="not-prose flex flex-col gap-4">
          {
            projects.map((project) => (
              <li>
                <ArrowCard entry={project} />
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-4">
        <h2 class="font-semibold text-black dark:text-white">
          Vamos nos Conectar!
        </h2>
        <article>
          <p class="dark:text-white">
            Se você quiser entrar em contato comigo pode utilizar alguma rede
            social abaixo ou me enviar um e-mail.
          </p>
        </article>
        <ul class="not-prose flex flex-wrap gap-2">
          {
            SOCIALS.map((SOCIAL) => (
              <li class="flex gap-x-2 text-nowrap">
                <Link
                  href={SOCIAL.HREF}
                  external
                  aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`}
                >
                  {SOCIAL.NAME}
                </Link>
                {"/"}
              </li>
            ))
          }
          <li class="line-clamp-1">
            <Link
              href={`mailto:${SITE.EMAIL}`}
              aria-label={`Email ${SITE.TITLE}`}
            >
              {SITE.EMAIL}
            </Link>
          </li>
        </ul>
      </section>
    </div>
  </Container>
</Layout>
